 <!-- Site footer -->
 <footer class="site-footer mt-4 ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
        Hey there! Hitik this side, as you may have guessed this is just a prototype of a Blogging website. Edit the code to replace the text here and you are just ready to showcase this project to your teacher :)
        </p>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; Your Blog name
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://hitik20.tech/"><i class="fa fa-globe"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/hitik-saini-042691193/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
