<% layout('layout/main') -%>

<div class="container top-m">
    <h4 class="font-weight-bold">Contribution!!</h4>

  <h6>Can you make a "like" counter for each blog post? or can improve/add more features ? </h6> <a  target="_blank" href="https://github.com/hitiksaini/Blog-Website/issues">Contribute here</a>
  <hr>
  <h1 class="font-weight-bold"><%=title%></h1>
  <p><%=content%></p>
</div>
